[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=2.1.2"
requests = "~=2.28.0"
serverless-wsgi = "~=3.0.0"

[dev-packages]
black = "*"
botocore = "==1.23.32"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.9"
