<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="/static/site.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% block body %}
        {% endblock body %}
        <footer>
            <p>
                emojos.in by iliana
                &middot;
                AGPLv3
                &middot;
                <a href="/code">source code download</a>
                &middot;
                <a href="https://github.com/iliana/emojos.in">github</a>
            </p>
        </footer>
        {% block script %}
        {% endblock script %}
    </body>
</html>
