{% extends "base.html" %}
{% block title %}Custom emoji list for {{ domain }}{% endblock title %}
{% block body %}
<p>
    <b>{{ domain }}</b> emojo list<br>
    click/touch to copy to clipboard
</p>
<dl class="emojo">
    {% if show_animated %}
        {% for emoj in emojo %}
        <div>
            <dt><img src="{{ emoj.url }}" alt=":{{ emoj.shortcode }}:"></dt>
            <dd>:{{ emoj.shortcode }}:</dd>
        </div>
        {% endfor %}
    {% else %}
        {% for emoj in emojo %}
        <div>
            <dt><img src="{{ emoj.static_url }}" alt=":{{ emoj.shortcode }}:"></dt>
            <dd>:{{ emoj.shortcode }}:</dd>
        </div>
        {% endfor %}
    {% endif %}
</dl>
{% endblock body %}
{% block script %}
<script src="{{ url_for('static', filename='copy.js') }}"></script>
{% endblock script %}
