{% extends "base.html" %}
{% block title %}Mastodon instance custom emoji list{% endblock title %}
{% block body %}
<p>get the emojos for:</p>
<form method="POST" action="">
    <div>
        <input type="text" name="instance" placeholder="instance.domain">
    </div>
    <div>
        <input type="checkbox" id="show_all" name="show_all">
        <label for="show_all">See unlisted emojos</label>
    </div>
    <div>
        <input type="checkbox" id="show_animated" name="show_animated">
        <label for="show_animated">See animated emojos</label>
    </div>
    <input type="submit" value="go">
</form>
<p>(&ldquo;emojo&rdquo; is the semi-jokey term for custom emoji on <a href="https://joinmastodon.org">Mastodon</a>.)</p>
{% endblock body %}
