body {
    font-family: sans-serif;
    font-size: 15px;
    line-height: 20px;
    background-color: rgb(40, 44, 55);
    color: white;
}

a {
    color: rgb(217, 225, 232);
}

dl.emojo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, max-content));
    grid-row-gap: 5px;
}

dl.emojo div {
    cursor: pointer;
}

dl.emojo div * {
    display: inline-block;
}

dl.emojo dt img {
    height: 20px;
    width: 20px;
    object-fit: contain;
    vertical-align: middle;
    padding-bottom: 2px;
}

dl.emojo dd {
    margin-left: 0;
    padding: 0px 8px;
}

dl.emojo dd.success {
    color: rgb(202, 143, 4);
}

footer {
    font-size: smaller;
}
